/* Global Reset for consistent styling across all browsers */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%; /* 1rem = 16px */
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
